//
// overlay.scss
// Theme utility
//

.overlay {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: inherit;
        width: 100%;
        height: 100%;
        background-color: $black-overlay;
        opacity: .4;
    }
}

.z-index-9 {
    z-index: 9;
}