<footer class="pt-8 pt-md-11 @@classList @@text">
    <div class="container">
        <div class="row justify-content-between align-items-center pb-8 border-bottom border-secondary-desat-d">
            <div class="col-12 col-md-6 col-xl-4">

                <!-- Brand -->
                <img src="@@webRoot/assets/img/logo/dari-logo.svg" alt="..." class="footer-brand img-fluid mb-2">

                <!-- Text -->
                <p class="text-gray-700 mb-2">
                    Sass variables and responsive grid system
                </p>

                <!-- Social -->
                <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
                    <li class="list-inline-item list-social-item mr-3">
                        <a href="#!" class="text-decoration-none">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="24" height="24" viewBox="0 0 24 24">
                                <defs>
                                    <style>
                                        .a {
                                            fill: #fff;
                                        }

                                        .b {
                                            clip-path: url(#a);
                                        }
                                    </style>
                                    <clipPath id="a1">
                                        <path class="a" d="M0,0H24V24H0Z" />
                                    </clipPath>
                                </defs>
                                <g class="b">
                                    <path class="a"
                                        d="M22.675,0H1.325A1.325,1.325,0,0,0,0,1.325V22.676A1.325,1.325,0,0,0,1.325,24H12.82V14.706H9.692V11.084H12.82V8.413c0-3.1,1.893-4.788,4.659-4.788a25.657,25.657,0,0,1,2.8.143v3.24H18.356c-1.5,0-1.8.715-1.8,1.763v2.313h3.587l-.467,3.622h-3.12V24h6.116A1.324,1.324,0,0,0,24,22.675V1.325A1.325,1.325,0,0,0,22.675,0Z" />
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li class="list-inline-item list-social-item mr-3">
                        <a href="#!" class="text-decoration-none">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="24" height="24" viewBox="0 0 24 24">
                                <defs>
                                    <style>
                                        .a {
                                            fill: #fff;
                                        }

                                        .b {
                                            clip-path: url(#a);
                                        }
                                    </style>
                                    <clipPath id="a2">
                                        <path class="a" d="M0,0H24V24H0Z" />
                                    </clipPath>
                                </defs>
                                <g class="b">
                                    <path class="a"
                                        d="M12,2.163c3.2,0,3.584.012,4.85.07,3.252.148,4.771,1.691,4.919,4.919.058,1.265.069,1.645.069,4.849s-.012,3.584-.069,4.849c-.149,3.225-1.664,4.771-4.919,4.919-1.266.058-1.644.07-4.85.07s-3.584-.012-4.849-.07c-3.26-.149-4.771-1.7-4.919-4.92-.058-1.265-.07-1.644-.07-4.849s.013-3.583.07-4.849C2.381,3.924,3.9,2.38,7.151,2.232,8.417,2.175,8.8,2.163,12,2.163ZM12,0C8.741,0,8.333.014,7.053.072,2.695.272.273,2.69.073,7.052.014,8.333,0,8.741,0,12s.014,3.668.072,4.948c.2,4.358,2.618,6.78,6.98,6.98C8.333,23.986,8.741,24,12,24s3.668-.014,4.948-.072c4.354-.2,6.782-2.618,6.979-6.98C23.986,15.668,24,15.259,24,12s-.014-3.667-.072-4.947c-.2-4.354-2.617-6.78-6.979-6.98C15.668.014,15.259,0,12,0Zm0,5.838A6.162,6.162,0,1,0,18.162,12,6.162,6.162,0,0,0,12,5.838ZM12,16a4,4,0,1,1,4-4A4,4,0,0,1,12,16ZM18.406,4.155a1.441,1.441,0,1,0,1.44,1.44,1.44,1.44,0,0,0-1.44-1.44Z" />
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li class="list-inline-item list-social-item mr-3">
                        <a href="#!" class="text-decoration-none">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="24" height="24" viewBox="0 0 24 24">
                                <defs>
                                    <style>
                                        .a {
                                            fill: #fff;
                                        }

                                        .b {
                                            clip-path: url(#a);
                                        }
                                    </style>
                                    <clipPath id="a3">
                                        <path class="a" d="M0,0H24V24H0Z" />
                                    </clipPath>
                                </defs>
                                <g class="b">
                                    <path class="a"
                                        d="M24,4.557a9.83,9.83,0,0,1-2.828.775,4.932,4.932,0,0,0,2.165-2.724A9.864,9.864,0,0,1,20.21,3.8a4.927,4.927,0,0,0-8.391,4.49A13.978,13.978,0,0,1,1.671,3.149,4.93,4.93,0,0,0,3.194,9.723,4.9,4.9,0,0,1,.965,9.107,4.927,4.927,0,0,0,4.914,14a4.935,4.935,0,0,1-2.224.084A4.928,4.928,0,0,0,7.29,17.5,9.9,9.9,0,0,1,0,19.54a13.94,13.94,0,0,0,7.548,2.212A13.925,13.925,0,0,0,21.543,7.106,10.025,10.025,0,0,0,24,4.557Z" />
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li class="list-inline-item list-social-item">
                        <a href="#!" class="text-decoration-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <defs>
                                    <style>
                                        .a {
                                            fill: #fff;
                                        }
                                    </style>
                                </defs>
                                <path class="a"
                                    d="M19,0H5A5,5,0,0,0,0,5V19a5,5,0,0,0,5,5H19a5,5,0,0,0,5-5V5A5,5,0,0,0,19,0ZM8,19H5V8H8ZM6.5,6.732A1.764,1.764,0,1,1,8.25,4.968,1.758,1.758,0,0,1,6.5,6.732ZM20,19H17V13.4c0-3.368-4-3.113-4,0V19H10V8h3V9.765c1.4-2.586,7-2.777,7,2.476Z" />
                            </svg>
                        </a>
                    </li>
                </ul>

            </div>



            <div class="col-12 col-md-6 col-xl-4">

                <!-- List -->
                <ul class="list-unstyled mb-0">
                    <li class="mb-4">
                        <i class="fe fe-map"></i>&nbsp;Celeste Slater, 606-3727 Ullamcorper. Street
                        Roseville NH 11523
                    </li>
                    <li class="mb-0">
                        <i class="fe fe-phone-call"></i>&nbsp;+1-202-555-0103
                    </li>

                </ul>

            </div>
        </div> <!-- / .row -->
        <div class="row align-items-center py-5">
            <div class="col-12 text-center">
                <span>Copyright @2020 All rights reserved | This template is made with by
                    Gegeesoft</span>
            </div>
        </div>
    </div> <!-- / .container -->
</footer>