<nav class="navbar fixed-top navbar-expand-lg @@classList z-index-9" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img src="@@webRoot/assets/img/logo/@@Dari-logo" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#page-top">Home <span
                            class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#one-section">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#two-section">Services</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#three-section">Portfolio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#four-section">Contact Us</a>
                </li>

            </ul>

            <ul class="navbar-nav ml-auto">

                <li class="nav-item active">
                    <span class="navbar-text"><i class="fe fe-phone"></i>&nbsp;+1-202-555-0103</span>
                </li>

            </ul>
        </div>

    </div>
</nav>